
body {
    font-family: Arial, sans-serif;
    background-color:rgb(213, 153, 23);
    margin: 0;
    padding: 0;
}

header {
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1, h2 {
    margin: 0 0 20px;
}

section {
    padding: 20px;
}

.recipe-list {
    display: flex;
    justify-content: space-around;
    background-color: lightgoldenrodyellow;
    padding: 20px;
}

.recipe-card {
    border: 1px solid lightcyan;
    padding: 20px;
    width: 30%;
    background-color: lightgoldenrodyellow;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.recipe-card h3 {
    color: blueviolet
}

.recipe-card p {
    color: grey;
}

.recipe-card a {
    display: inline-block;
    margin-top: 10px;
    color: greenyellow;
    text-decoration: none;
    font-weight: bold;
}

.recipe-card a:hover {
    text-decoration: underline;
}

.recipe-detail table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.recipe-detail table, th, td {
    border: 1px solid lightgoldenrodyellow;
    padding: 10px;
}

.recipe-detail th {
    background-color: orange;
}

.recipe-detail td {
    background-color: lightgoldenrodyellow;
}

/* Add/Edit Recipe Form */
.recipe-form form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.recipe-form label {
    margin-bottom: 5px;
    color: grey;
}

.recipe-form input[type="text"],
.recipe-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid lightblue;
    border-radius: 5px;
}

.recipe-form button {
    padding: 10px;
    background-color: greenyellow;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.recipe-form button:hover {
    background-color: green;
}

@media (max-width: 768px) {
    .recipe-list {
        flex-direction: column;
        align-items: center;
    }

    .recipe-card {
        width: 80%;
        margin-bottom: 20px;
    }
}